---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./*.{md,mdx}", { eager: true })
);

const pageTitle = "Artikelen";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Een blog over dingen die mij bezighouden, meningen, kwaadsprekerij en
    observaties.
  </p>

  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <div class="blogitem bg-indigo-100 p-1">
            <a href={post.url}>
              <h4>{post.frontmatter.title}</h4>
            </a>
            <h6 class="font-bold text-base">{post.frontmatter.description}</h6>
            <p>{post.frontmatter.teaser}</p>
          </div>
          <div class="blogimage">
            <a href={post.url}>
              <img
                src={post.frontmatter.image.url}
                alt={post.frontmatter.image.alt}
              />
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
<style>
  li {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 2ch;
  }
  li p {
    margin-block-start: 0;
  }
  .blogitem,
  .blogimage {
    margin: 0.8em 0;
  }
  .blogimage img {
    object-fit: cover;
  }
</style>
