---
import BaseLayout from "../../layouts/BaseLayout.astro";

// Util functie om de blogposts te filteren op datum
import { filterBlogPosts } from "../../scripts/utils";

const allPosts = Object.values(
  import.meta.glob("./*.{md,mdx}", { eager: true })
);

const filteredPosts = filterBlogPosts(allPosts);

const pageTitle = "Artikelen";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Een blog over dingen die mij bezighouden, meningen, kwaadsprekerij en
    observaties.
  </p>

  <ul>
    {
      filteredPosts.map((post: any) => (
        <li>
          <div class="blogitem bg-indigo-100 p-1">
            <a href={post.url}>
              <h4 class="my-1">{post.frontmatter.title}</h4>
            </a>
            <h6 class="font-bold my-1">{post.frontmatter.description}</h6>
            <p class="text-base">{post.frontmatter.teaser}</p>
          </div>
          <div class="blogimage">
            <a href={post.url}>
              <img
                src={post.frontmatter.image.url}
                alt={post.frontmatter.image.alt}
              />
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
<style>
  li {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding-left: 0;
    margin-left: 0;
    gap: 1rem;
  }
  li p {
    margin-block-start: 0;
  }
</style>
